.clickable {
    cursor: pointer;
}

.nav li {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#text {
    display: inline-block;
    border-radius: 2px;
    background-color: hsl(0, 0%, 99%);
    color: hsl(0, 0%, 30%);
    padding: 10px;
    border: 1px solid silver;
    word-wrap: normal;
}
