<!doctype html>
<html>
    <head>
        <title>Random Content Generator</title>

        <!-- standard js libs -->
        <script type="text/javascript" src="/static/libs/sugar.js"></script>
        <script type="text/javascript" src="/static/libs/jquery.js"></script>
        <script type="text/javascript" src="/static/libs/ko.js"></script>
        <script type="text/javascript" src="/static/libs/ko.mapping.js"></script>
        <script type="text/javascript" src="/static/libs/page.js"></script>

        <!-- bootstrap -->
        <script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css" />

       <!-- our main js and css -->
        <script type="text/javascript" src="/static/js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>
    <body>
        <div class="container" x-style="display:none" data-bind="visible: app_loaded">
            <h3>Random Text Generator</h3>
            <ul class="nav nav-pills" data-bind="foreach: tabs">
                <li data-bind="css: { active: is_active }">
                    <a class="clickable" data-bind="text: text, click: activate"></a>
                </li>
            </ul>
            <p id="text" data-bind="html: html"><p>
            <hr>
            <p><a data-bind="text: url, attr: { href: url }"></a>
                To get only the content without the fluff.
            </p>
            <p><em>Hint: Click on the tab/pill again to get another random text of this type</em></p>

            <script type="text/javascript">
                type({{ type|tojson|safe }});
                text({{ text|tojson|safe }});

                // for some reason this has to be deferred ..
                setTimeout(function() {
                    select('#text');
                }, 0);
            </script>
        </div>
    </body>
</html>
